@model Datalager.Models.AlbumPhoto

@{
    var ajaxOption = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gallery"
    };
}

    @using (Ajax.BeginForm("AddPhotoToAlbum", ajaxOption))
    {
        <div class="row">

            @foreach (var photo in Model.Photos)
            {
            <div class="col-lg-4 col-sm-12">

                <img src="@Url.Content("~/GalleryFolder/" + @photo.PhotoPath)" alt="Kan int hita bilden" width="200" height="200">
                <input type="checkbox" name="photo" value="@photo.PhotoId" />
            </div>
            }

        </div>

            <div class="col-lg-4 col-sm-12">
                <select name="albumId">
                    @foreach (var album in Model.Albums)
                {
                        <option value="@album.AlbumId">@album.AlbumName</option>
                    }
                </select>
                <input type="submit" value="Add To Album" class="btn btn-default" />
            </div>

            }
    




