@model Datalager.Models.Photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div>
        <h4>Gallery</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PhotoName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhotoName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhotoPath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhotoComment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhotoComment)
            </dd>

        </dl>
    </div>

    <div class="col-lg-4">
        <img class="img-thumbnail" src="~/GalleryFolder/@Model.PhotoPath" alt="fdf" width="500" height="500">
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoId }) |
    @Html.ActionLink("Back to List", "List")
</p>
